{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Shop{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
  <header id="header">
    <a href="/" class="logo">My Shop</a>
  </header>
  <header id="subheader">
    <div class="cart">
      Your cart is empty.
    </div>
  </header>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>